{{#each clients as |client|}}
<br>
<br>

<h3>Client Profile:</h3>
<h4>Full Name: {{client.first_name}} {{client.last_name}}</h4>
Client ID: {{client.id}}
<img src="{{client.email}}" width="180" height="250">
<button class="delete" name="button" data-id="{{client.id}}">Delete Client</button>
{{/each}}
