{{#each clients as |client|}}
<br>
Client ID: {{client.id}}
<br>
<bold>{{client.first_name}} {{client.last_name}}</bold>
<br>
Email: {{client.email}}
<br>
<button class="delete" name="button" data-id="{{client.id}}">Delete</button>
<br>
{{/each}}


<!-- {{#if client.name}}
{{client.name}}
{{else}}
No name
{{/if}} -->
