<div class="handlewrapper">
    {{#each clients as |client|}}
        <div class="chld">
          <div class="del-butts">
            <form>
              <fieldset>
                <input type="submit" class="delete" name="submit" data-id="{{client.id}}" id="deletec" value="Delete Client">
              </fieldset>
            <form>
          </div>



          <div class="handlbiz">
            <img src="{{client.pic}}" class="handleimgz">
            <div class="profile">
              First Name: {{client.first_name}} <br>
              Last Name: {{client.last_name}} <br>
              Client ID: {{client.id}}<br>
            </div>
          </div>
          <br>
        </div>
        {{/each}}
</div>
